body {
  font-family: Roboto;
  font-weight: 300;
  background: rgb(220, 220, 220);
  margin: 0;
}

.site-header {
  background: white;
  color: black;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 16px;
}

.grid1 {
  display: inline-block;
  justify-self: center;
  margin: 0;
  
}

.grid2 {
  display: inline-block;
  justify-self: left
}

.grid3 {
  display: inline-block;
}




